{%load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"> 
</head>
<body>
  
  <h1>Listes des Annimaux</h1> 
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Vitesse</th>
        <th scope="col">nbr pates</th>
        <th scope="col">Familles</th>
        
      </tr>
    </thead>
    <tbody>
        {% for ani in com %} 
      <tr>
        <td>{{ani.id}}</td>
        <td>{{ani.nom}}</td>
        <td>{{ani.vitesse}}</td>
        <td>{{ani.patte}}</td>
        <td>{{ani.famille}}</td>
      </tr>
      {% endfor %}
    </table>
    
      <a href='/famille'>Familles</a>
   
</body>
</html>
